/* 共通レイアウトパーツ */
* {
  font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN";
  background-color: #fff;
}

button {
  background-color: transparent;
  border: transparent;
}

a {
  text-decoration: none;
  color: #000;
}

.content-width {
  width: 90%;
}

.center {
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.textDecorationDisable {
  text-decoration: none;
}

.required::before {
  content: '必須';
  background-color: red;
  color: #fff;
  font-size: 8px;
  padding: 2px;
  position: relative;
  top: -0.5em;
}


/* リンクボタンアクションレイアウト */
.linkUnderline {
  color: #ff701e;
  text-decoration: none;
  padding-bottom: 5px;
  position: relative;
}

.linkUnderline::before {
  background: #ff701e;
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  transform: scale(0, 1);
  transition: transform .3s;
}


.linkUnderline:hover::before {
  transform-origin: center top;
  transform: scale(1, 1);
}

/* ツールチップレイアウト */
.tooltip {
  position: relative;
  cursor: pointer;
}

/* ツールチップのテキスト */
.tooltip-text {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  display: inline-block;
  padding: 5px;
  white-space: nowrap;
  font-size: 0.8rem;
  line-height: 1.3;
  background: #333;
  color: #fff;
  border-radius: 3px;
  transition: 0.3s ease-in;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}




/* headerレイアウト */
.header {
  background-color: rgb(220, 255, 239);
  padding: 6px 0;
  margin-bottom: 24px;
}

.header-container {
  justify-content: space-between;
  align-items: center;
}

.header-app-name {
  font-family: 'Sacramento', cursive;
  font-size: 32px;
  color: #ff701e;
}

.header-display-info {
  font-size: 18px;
}

.header-user-login-state {
  gap: 100px;
}

.header-display-menu-list a {
  display: inline-block;
  margin-left: 30px;
}

.header-display-menu-list a:first-child {
  margin-left: 0;
}

.header-display-user {
  gap: 30px;
}

.header-logout-btn {
  font-size: 24px;
}

.header-user-login {
  margin-left: 80px;
}


/* 新規登録・ログインフォームレイアウト */
.form-container {
  background-color: #ededed;
  height: 92vh;
  align-items: center;
}


.form {
  width: 60%;
  background-color: #fff;
  padding: 100px;
  text-align: center;
  color: #ff701e;
  border-radius: 10px;
}

/* mainコンテナレイアウト */
.container {
  color: #000;
}

/* グローバルナビゲーション */
.firstViewGlobalNavMenu {
  font-size: 18px;
  gap: 24px;
  margin-bottom: 24px;
  padding: 12px 0;
  justify-content: space-evenly;
  border-top: solid 1px  #ff701e;
  border-bottom: solid 1px  #ff701e;
}

/* ノート一覧エリア */
.noteListViewArea {
  background-color: #fff;
  color: #000;
}

.noteListViewAreaContainer {
  margin-top: 12px;
}

.noteListViewAreaContentTitleLabel,
.noteListViewAreaContentTitle {
  flex-basis: 80%;
}

.noteListViewAreaContentUpdateTimeLabel,
.noteListViewAreaContentIconLabel,
.noteListViewAreaContentUpdateTime,
.noteListViewAreaContentIconLink {
  flex-basis: 10%;
}

.noteListViewAreaContentTitleLabel,
.noteListViewAreaContentUpdateTimeLabel,
.noteListViewAreaContentIconLabel,
.noteListViewAreaContentUpdateTime,
.noteListViewAreaContentIconLink {
  text-align: center;
}

.noteListViewAreaContentLabel {
  font-weight: bold;
  font-size: 18px;
}

.noteListViewAreaContent {
  margin: 10px 0;
  font-size: 16px;
  color: #000;
}

.noteListViewAreaContentIconLink a i {
  padding: 0 10px;
}

.noteCreateButton {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #a0ff8f;
  padding: 20px;
  color: #064b00;
}


/* footerレイアウト */
.footer {
  background-color: rgb(220, 255, 239);
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-container {
  text-align: center;
}

.footer-text {
  color: #000;
  background-color: rgb(220, 255, 239);
}
